extends layout


block content
  br
  div(class="row justify-content-md-center formAdd")
    div(class="col-md-6 text-align-center addBook")
      h1 #{title}
      form(action='/books/add',method='post')
        div(class="form-group")
          label(for='isbn') ISBN :
          input(class="form-control" type='text',name='isbn',size='30',placeholder='รหัส ISBN' required)
        div(class="form-group")
          label(for='title') ชื่อหนังสือ :
          input(class="form-control" type='text',name='title',size='50',placeholder='ชื่อหนังสือ' required)
        div(class="form-group") 
          label(for='price') ราคา :
          input(class="form-control" type="number",name='price',size='30',placeholder='ราคา' required)
        hr
        butoon(class='btn btn-outline-dark' id="backBook") ย้อนกลับ
        button(class='btn btn-outline-success float-right' type="submit") บันทึก
    br