extends layout



block content
  <br>
  div(class="row justify-content-center")
    div(class="card col-md-auto" style="width: 30rem;")
      img(class="card-img-top" src="/images/logo.jpg" alt="หนังสือ")
      h1() #{bookData.title}
      ul(class="list-group list-group-flush")
        li(class="list-group-item") รหัส ISBN : #{bookData.isbn}
        li(class="list-group-item") ชื่อหนังสือ : #{bookData.title}
        li(class="list-group-item") ราคา : #{bookData.price}
        li(class="list-group-item")
          div(class="text-center")
            a(href='/books/edit/'+bookData._id) แก้ไข
        li(class="list-group-item align-center")
          form(action='/books/deletebook/'+bookData._id,method='post')
            div( class="text-center")
              button(class="btn btn-outline-danger btn-block" style="align:center" type='submit') ลบข้อมูล