extends layout

block content
  div(id="accordion")
    div(class="card ")
      div(class="card-header border-dark" style="background-color:#696969;" id="headingOne") 
        h5(class='text-light')  <i class="fa fa-book" style="font-size:25px"></i>หนังสือขายดี
          button(class="btn btn-link float-right" style="color:#ffffff" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 
            i(class="fa fa-minus")
      div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="transition: all 1500ms ease 0s;")
        div(class="card-body")
          div(class="row justify-content-center mx-auto")
            for item in data
              div(class="col-lg-3 col-md-4 col-sm-6 mx-auto" style="padding-top:20px;")
                a(href='/books/'+item._id class="a-detail")
                  div(class="card cardMyBook")
                    img(class="card-img-top" src="/images/upload"+item.name style="height:15rem;")
                    div(class="card-body") 
                      h5(class="card-title" ) #{item.title}
                      p(class="card-text") ราคาเล่มละ #{item.price} บาท
                      
  div(id="accordion")
    div(class="card ")
      div(class="card-header border-dark" style="background-color:#696969;" id="headingtwo") 
        h5(class='text-light')  <i class="fa fa-book" style="font-size:25px"></i>หนังสือราคาถูก
          button(class="btn btn-link float-right" style="color:#ffffff" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") 
            i(class="fa fa-minus")
      div(id="collapseTwo" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordion" style="transition: all 1500ms ease 0s;")
        div(class="card-body")
          div(class="row justify-content-center mx-auto")
            for item in cheap  
                div(class="col-lg-3 col-md-4 col-sm-6 mx-auto" style="padding-top:20px;")
                  a(href='/books/'+item._id class="a-detail")
                    div(class="card cardMyBook")
                      img(class="card-img-top" src="/images/upload"+item.name style="height:15rem;")
                      div(class="card-body") 
                        h5(class="card-title") #{item.title}
                        p(class="card-text") ราคาเล่มละ #{item.price} บาท
                        
