div#navmain
  nav(class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top")
    a.navbar-brand(href='/') BOOK
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarText")
      ul(class="navbar-nav mr-auto")
        a(class="nav-link " id="menuHome" href="/") หน้าแรก |
        a(class="nav-link" id="menuUser" href="/users")  สมาชิก |
        a(class="nav-link" id="menuBook" href="/books")  หนังสือ |
        a(class="nav-link" id="menuSelect" href="/books/select") <i class="fa fa-cart-arrow-down" style="font-size:25px"></i>สินค้าในตะกร้า
          span() 
            span(id="amountCart")  0
            span  ชิ้น
           
      button(class='btn btn-outline-light my-2 my-sm-0 ' id="login") ลงชื่อเข้าใช้
  #loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title <i class="fa fa-user"></i> ลงชื่อเข้าใช้
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              div(class="row justify-content-md-center formAdd")
                div(class="text-align-center")
                  form(action='/users/login' method='post' encType="multipart/form-data")
                    div(class="form-group")
                      label(for='username') อีเมลล์ :
                      input(class="form-control" type='email',name='loginEmail',size='30',placeholder='ป้อนอีเมลล์' required)
                    div(class="form-group")
                      label(for='password') รหัสผ่าน :
                      input(class="form-control" type='password',name='loginPassword',size='50',placeholder='ป้อนรหัสผ่าน' required)
                    div(class="form-group text-center")
                      label(for='' id="forgot" class="labelLogin") ลืมรหัสผ่าน? 
                      button(class='btn btn-outline-primary float-right btn-block' type="submit") <i class="fa fa-sign-in"></i>เข้าสู่ระบบ 
                    div(class="form-group text-center" style="padding-top:40px")
                      label(for='' id="registerLabel" class="labelLogin") ลงทะเบียน
  #registerModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title <i class="fa fa-user-plus"></i> ลงทะเบียน
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              div(class="row justify-content-md-center formAdd")
                div(class="text-align-center")
                  form(method='post' action='javascript:void(0)')
                    div(class="form-group")
                      label(for="name") ชื่อ :
                      input(class="form-control" type="text" id="nameR" name="name" placeholder="ป้อนชื่อ" size="50" required)
                    div(class="form-group")
                      label(for="lastName") นามสกุล :
                      input( class="form-control" type="text" id="lastNameR" name="lastName" placeholder="ป้อนนามสกุล" size='50' required)
                    div(class="form-group")
                      label(for='username') อีเมลล์ :
                      input(class="form-control" type='email',name='email' id='emailR' size='50',placeholder='ป้อนอีเมลล์' required)
                    div(class="form-group")
                      label(for='password') รหัสผ่าน :
                      input(class="form-control" type='password',name='password' id="passwordR" size='50',placeholder='ป้อนรหัสผ่าน' required)
                      span(id="checkPassword" style="color:red; display:none") รหัสผ่านต้องอย่างน้อย 6 ตัว
                    div(class="form-group")
                      label(for='confirmPassword') ยืนยันรหัสผ่าน :
                      input(class="form-control" type='password',name='confirmPassword' id="confirmPasswordR",size='50',placeholder='ป้อนรหัสผ่านอีกครั้ง' required)
                      sapn(id="checkMatch" style="color:red; display:none") รหัสผ่านไม่ตรงกัน
                    div(class="form-group ")
                      button(class='btn btn-outline-primary float-right btn-block' onclick='register()') <i class="fa fa-sign-in"></i>ลงทะเบียน 
                    div(class="form-group text-center" style="padding-top:40px")
                      label(for='' id="loginLabel" class="labelLogin" style="padding-top:20px") เข้าสู่ระบบ                      
                     
                   
