<br>
<br>
<hr>
div(class="text-center")
  footer#navfooter
    nav
      a(href="/#") พัฒนาโดย โชควัชระเทพ |
      a(href="https://www.facebook.com/profile.php?id=100007307626704")  Fackbook |
      a(href='/#')  ติดต่อเรา