body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}


th,
td {
  border: 1px solid #1E90FF;
}

table {
  width: 100%;
}

th {
  color: #fff;
  background-color: #1E90FF;
  text-align: left;
}

.addBook {
  background-color: #DCDCDC;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px darkgray;
}

i {
  padding-right: 10px
}

.labelLogin {
  color: #007bff;
  cursor: pointer;
}

.labelLogin:hover {
  text-decoration: underline;
}

.login {
  background-color: aliceblue;
  border-radius: 20px;
  border-color: #007bff;
  border-style: double;
}

.status {
  display: none;
}