body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}

th {
  font-size: 15px;
}

td {
  font-size: 14px;
}

th,
td {
  border: 1px solid gray;

}

table {
  width: 100%;
}

th {
  color: #fff;
  background-color: gainsboro;
  text-align: left;
}

.addBook {
  background-color: #DCDCDC;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px darkgray;
}

i {
  padding-right: 10px
}

.labelLogin {
  color: #007bff;
  cursor: pointer;
}

.labelLogin:hover {
  text-decoration: underline;
}

.login {
  background-color: aliceblue;
  border-radius: 20px;
  border-color: #007bff;
  border-style: double;
}

.status {
  display: none;
}

.cardMyBook:hover {
  box-shadow: 5px 5px 5px 5px darkgray;
  transition: 300ms;
}

.button-payment {
  margin-top: -18px;
  margin-left: 5px;
  z-index: 9999;
  position: fixed;
  display: none;
}

.td-payment {
  padding: .5rem !important;
}

.footer-custom {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: #ffffff !important;
  background-color: #007bff;
  padding: .5rem;
  ;
}

#navfooter>nav>a {
  color: #ffffff;
  padding: .5rem;
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 550px !important;
    margin: 1.75rem auto;
  }
}

.modal-body {
  max-height: 570px !important;
  overflow-y: auto !important;
}

.a-detail:hover {
  text-decoration: none;
}