body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}

a {
  font-size: larger;
  color: #0d06ac;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #0d06ac;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #00f;
}

th {
  color: #fff;
  background-color: #00f;
  text-align: left;
}